.page-wrapper{
    width: 90%;
    margin: 0 auto;
    max-width: 1000px;
    padding-top: 20px;
}

.card-img-small {
    width: 100px;
    height: 100px;
}

.card-img-small > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}